@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
		--danger-dark: 124 60 60;
		--primary-dark: 70 120 63;
		--texture-dark: 114 95 70;
		--contrast-dark: 25 27 32;
		--contrast-light: 244 245 246;
		--texture-light: 233 227 219;
		--primary-light: 156 211 152;
		--danger-light: 215 172 172;

		--full-background: linear-gradient(to bottom right, rgb(var(--primary-light)), rgb(var(--primary-dark)));
  }
}

@layer components {
	.full-background {
		background: var(--full-background);
	}

	.prose {
		background: white;
	}
}